button.box,#final{
	width: 25%;
	display: block;
	float: left;
	height:110px;
	background-color:#1affb2;
	box-shadow: none;
	border: none;
	outline: none;
	transition: background-color 0.5s;
}

.box:hover, #final:hover{
	background-color: #00e699;
}

button.special{
	background-color:#00cc88;
}

.col-md-2,.col-md-8{
	padding:0 10%;
}

#numberinput{
	background-color:#00e699;
	height:60px;
	border: none;
	box-shadow: none;
	width:100%;
	padding-left: 15px;
	outline: none;
}

#numberinput:focus{
	outline:none;
}


body{
	background-color: #333333;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 3px;
	font-size: 32px;
}

h1{
	padding: 10px 20px;
	text-align: right;
	background-color:#00e699;
	height:60px;
	border: none;
	box-shadow: none;
	width:100%;
	margin:0 auto;
	outline: none;
}

h4, h2{
	font-size: 30px;
	width: 100%;
	padding-top: 40px;
	color: #1affb2;
}

h2{font-size: 35px}

ul{
	color: white;
	list-style: none;
}
